.containeradmin {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 500px;
    width: 100%;
    margin: auto;
   
}
  

.form12 {
    width: 70%;
    border: 1px solid #dfdfdf;
    padding: 20px;
    border-radius: 10px;
    background: #EFEFEF;
    margin-top: 4px;
 }
